<% if (!user) { %>
	<p>Welcome! Please <a href="/auth/facebook">log in with facebook</a>.</p>
<% } else { %>
	<p>Hello, <%= user.name %>.</p>
<% } %>
<% if (!search) { %>
 <form class="input-append" id="file-form" enctype="multipart/form-data" method="post"  action="/findBook">
      <input type="text" name="title" placeholder="Type a book title">
     <input type="submit" value="Submit" id="submit" />
 </form>
<% } else { %>
 <form class="input-append" id="file-form" enctype="multipart/form-data" method="post"  action="/findBook">
      <input type="text" name="title" placeholder= <%= search %> >
     <input type="submit" value="Submit" id="submit" />
 </form>


<% } %>
 <% if (book) { %>
     <h4><%= book.title %></h4>
     <img src=<%= book.thumbnail %>>
     
     <form class="input-append" id="file-form" enctype="multipart/form-data" method="post"  action="/addBook">
      <button name="bookID" type="submit" value=<%= book.bookid %>>Add to my Books</button>
     </form>
 <% } %>